name: Package

on: [push, pull_request]

jobs:
  package:
    name: Package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Download language server
        run: |
          ver=$(curl -s https://api.github.com/repos/VHDL-LS/rust_hdl/releases/latest | grep -oP '"tag_name": "v\K(.*)(?=")')
          wget -P temp https://github.com/VHDL-LS/rust_hdl/releases/latest/download/vhdl_ls-x86_64-unknown-linux-gnu.zip
          wget -P temp https://github.com/VHDL-LS/rust_hdl/releases/latest/download/vhdl_ls-x86_64-pc-windows-msvc.zip
          mkdir --parents server/vhdl_ls/$ver
          unzip temp/vhdl_ls-x86_64-unknown-linux-gnu.zip -d server/vhdl_ls/$ver
          unzip temp/vhdl_ls-x86_64-pc-windows-msvc.zip -d server/vhdl_ls/$ver
      - uses: actions/setup-node@v1
        with:
          node-version: '10'
      - name: Install NPM packages
        run: |
          npm install
          npm install -g vsce
      - run: vsce package
      - run: mkdir vhdl-ls && cp *.vsix vhdl-ls
      - uses: actions/upload-artifact@v1
        with:
          name: vhdl-ls
          path: vhdl-ls

  publish:
    name: Publish
    if: startsWith(github.ref, 'refs/tags/v')
    needs: package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v1
        with:
          name: vhdl-ls
          path: vhdl-ls
      - uses: actions/setup-node@v1
        with:
          node-version: '10'
      - name: Print env
        run: |
          echo ${GITHUB_REF:11}
          ls
          ls vhdl-ls
      - run: npm install -g vsce
      - run: vsce publish -p $PUBLISH_TOKEN --packagePath vhdl-ls/vhdl-ls-${GITHUB_REF:11}.vsix
        env:
          PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
